.connection {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include tablet-width {
      grid-template-columns: 1fr;
    }
  }

  &__form {
    color: $color-default-white;
    background-color: #102654;
    padding: 56px 170px 70px 103px;
    display: flex;
    flex-direction: column;
    margin: 0;

    @include tablet-width {
      width: 100%;
      padding-left: 133px;
      padding-bottom: 70px;
      align-items: flex-start;
    }

    @include mobile-width {
      padding: 60px 15px 67px;
    }
  }

  &__form-title {
    font-family: $alumni-sans-bold;
    font-size: 54px;
    font-weight: 800;
    line-height: 156%;
    letter-spacing: 1.62px;
    margin: 0 0 16px;

    @include tablet-width {
      font-size: 42px;
      font-weight: 700;
      margin: 0 0 22px;
      letter-spacing: 1.26px;
    }

    @include mobile-width {
      font-family: $alumni-sans-semi-bold;
      font-size: 32px;
      letter-spacing: 0.96px;
      margin: 0 0 30px;
    }
  }

  &__contact-title {
    font-family: $alumni-sans-semi-bold;
    font-size: 54px;
    letter-spacing: 1.62px;
    color: #102654;
    line-height: 156%;
    margin: 0 0 29px;

    @include tablet-width {
      font-size: 42px;
      letter-spacing: 1.26px;
      margin: 0 0 25px;
    }

    @include mobile-width {
      font-size: 32px;
      letter-spacing: 0.96px;
      margin: 0 0 33px;
    }
  }

  &__contact-wrapper {
    display: grid;
    grid-template-columns: 235px 1fr;

    @include tablet-width {
      grid-template-columns: 268px 1fr;
    }

    @include mobile-width {
      grid-template-columns: 1fr;
    }
  }

  &__address {
    border-right: 1px solid #74819c;
    padding-left: 5px;

    @include tablet-width {
      padding-left: 0;
      padding-right: 30px;
    }

    @include mobile-width {
      border: 0;
      margin-bottom: 24px;
    }
  }

  &__info {
    padding-left: 60px;

    @include tablet-width {
      padding-left: 47px;
    }

    @include mobile-width {
      padding-left: 0;
    }
  }

  &__address-item {
    margin-bottom: 21px;

    @include mobile-width {
      margin-bottom: 24px;
    }
  }

  &__contact {
    padding: 46px 120px 35px;
    color: #102654;
    border-top: 1px solid #74819c;

    @include tablet-width {
      padding: 54px 131px 60px;
    }

    @include mobile-width {
      padding: 57px 15px 55px;
    }
  }

  h3 {
    font-family: $roboto-condensed-bold;
    line-height: 150%;
    margin: 0 0 4px;
    font-size: 14px;

    @include tablet-width {
      font-size: 18px;
      line-height: 153%;
      margin: 0 0 9px;
    }

    @include mobile-width {
      margin: 0 0 6px;
    }
  }

  p {
    font-family: $roboto-condensed-regular;
    margin: 0;
    font-style: normal;
    font-size: 12px;
    line-height: 21px;
    color: #102654;

    @include tablet-width {
      font-size: 16px;
      line-height: 153%;
    }
  }

  &__info-item {
    margin-bottom: 17px;

    @include tablet-width {
      margin-bottom: 25px;
    }
  }

  &__info-link {
    font-family: $roboto-condensed-regular;
    line-height: 153%;
    font-size: 12px;

    @include tablet-width {
      font-size: 16px;
    }
  }

  &__info-tel {
    font-family: $roboto-condensed-regular;
    display: block;
    font-size: 12px;
    color: #102654;
    margin-top: -2px;
    padding: 5px 0;
    line-height: 153%;

    @include tablet-width {
      font-size: 16px;
      line-height: 153%;
      margin-top: -11px;
    }

    @include mobile-width {
      margin: 0 0 -3px;
    }
  }
}
