.content {
  position: absolute;
  left: 38.5%;
  top: 407px;
  width: 364px;
  height: 228px;

  @include tablet-width {
    top: 588px;
    left: 50%;
    transform: translateX(-50%);
    width: 266px;
    height: 167px;
  }

  @include mobile-width {
    position: static;
    width: 320px;
    height: 167px;
  }

  &__button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin: -49px 0 0 -49px;
    border: 2px solid;
    border-radius: 100%;
    border-color: conic-gradient(from 130.31deg at 16.03% 39.06%,#b80027 -46.69deg,#003d85 32.24deg,#b80027 313.31deg,#003d85 392.24deg);
  }
}
