.footer {
  background-color: #030a1a;
  min-height: 108px;
  display: flex;
  align-items: center;
  padding: 10px 0;

  @include tablet-width {
    min-height: 114px;
  }

  @include mobile-width {
    padding: 50px 0 46px;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include mobile-width {
      display: block;
    }
  }

  &__item:not(:last-child) {
    margin-right: 20px;

    @include tablet-width {
      margin-right: 30px;
    }

    @include mobile-width {
      margin-right: 64px;
      margin-bottom: 15px;
    }
  }

  &__item--mobile {
    display: none;

    @include mobile-width {
      display: block;
    }
  }

  &__item img {
    margin-right: 0;
    margin-bottom: 24px;
    margin-top: 2px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 460px;

    @include mobile-width {
      flex-direction: column;
      margin-bottom: 24px;
      display: block;
      column-count: 2;
      column-gap: 30px;
    }
  }

  &__link {
    font-family: $roboto-condensed;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: $color-default-white;
    padding: 10px;

    @include tablet-width {
      padding: 10px 0;
      font-size: 14px;
    }

    @include mobile-width {
      font-size: 16px;
    }

    &:hover {
      border-bottom: 1px solid $color-default-white;
    }

    &:focus {
      border: 1px solid $color-default-white;
    }

    &:disabled {
      color: $color-default-white;
      opacity: 0.5;
    }
  }

  &__logo {
    margin-right: 15px;
    margin-top: 8px;

    @include tablet-width {
      margin: 0;
      margin-right: 16px;
    }

    @include mobile-width {
      display: none;
    }
  }
}
