.form {
  max-width: 410px;

  @include tablet-width {
    max-width: 472px;
  }

  @include mobile-width {
    width: 100%;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 410px;

    @include tablet-width {
      width: 472px;
    }

    @include mobile-width {
      width: 100%;
      margin-bottom: 14px;
    }
  }

  input {
    font-family: $roboto-condensed;
    border: none;
    padding: 7px 0;
    background-color: inherit;
    font-size: 12px;
    font-weight: 400;
    color: $color-default-white;
    border-bottom: 1px solid #74819c;
    width: 190px;
    margin-bottom: 27px;

    @include tablet-width {
      width: 206px;
    }

    @include mobile-width {
      width: 100%;
    }

    &:hover {
      background-color: inherit;
      border-bottom: 1px solid $color-default-white;
      color: $color-default-white;
    }

    &:active,
    &:focus {
      background-color: inherit;
      outline: 2px solid $color-default-white;
      color: $color-default-white;
    }

    &:disabled {
      opacity: 0.5;
    }
  }

  &__button {
    font-family: $roboto-condensed;
    color: $color-default-white;
    background-color: inherit;
    padding: 16px 10px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    border: 3px solid $color-default-white;
    width: 100%;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: $color-default-white;
      color: #103aae;
    }

    &:active {
      background-color: $color-default-white;
      color: #102654;
    }

    &:disabled {
      background-color: transparent;
      color: $color-default-white;
      opacity: 0.5;
    }
  }
}
