.intro {
  position: relative;
  padding: 120px 103px 120px 163px;
  min-height: 756px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 85px;
  max-width: 1366px;

  @include tablet-width {
    flex-direction: column;
    padding: 100px 45px 183px 45px;
    align-items: center;
    gap: 50px;
  }

  @include mobile-width {
    padding: 70px 15px 70px 15px;
    gap: 40px;
  }

  &__description {
    width: 355px;
    color: $primary;

    @include tablet-width {
      width: 540px;
      text-align: center;
    }

    @include mobile-width {
      width: 100%;
      text-align: left;
    }
  }

  &__description h2 {
    font-family: $alumni-sans-semi-bold;
    font-size: 48px;
    line-height: normal;
    letter-spacing: 1.44px;
    padding-top: 42px;
    padding-bottom: 25px;
    margin: 0;

    @include tablet-width {
      padding-top: 0;
      padding-bottom: 6px;
      font-size: 42px;
      letter-spacing: 1.26px;
    }

    @include mobile-width {
      font-size: 32px;
      letter-spacing: 0.96px;
    }
  }

  &__description h3 {
    font-family: $roboto-condensed-regular;
    font-size: 18px;
    color: $primary;
    margin: 0;
    padding-bottom: 55px;

    @include tablet-width {
      padding-bottom: 50px;
    }

    @include mobile-width {}
  }

  &__description p {
    font-family: $roboto-condensed-lite;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
  }

  &__text {
    padding-top: 7px;

    @include tablet-width {
      display: none;
    }
  }

  &__img img {
    width: 100%;
    height: 401px;
    object-fit: cover;

    @include tablet-width {
      height: 345px;
    }

    @include mobile-width {
      height: 313px;
    }
  }
}
