.main-nav {
  background: conic-gradient(from 130.31deg at 16.03% 39.06%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);
  min-height: 658px;
  color: $color-default-white;
  padding-top: 30px;
  padding-bottom: 47px;

  @include tablet-width {
    background: conic-gradient(from 130.31deg at 20.03% 35.06%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);
    min-height: 554px;
  }

  @include mobile-width {
    background: conic-gradient(from 130.31deg at 35.03% 34.06%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);
    min-height: 491px;
    padding-top: 18px;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 -12px 0;

    @include tablet-width {
      padding-bottom: 33px;
    }

    @include mobile-width {
      padding: 0;
      margin: 0;
    }
  }

  &__container {
    display: flex;
    position: relative;
  }

  &__phone {
    font-family: $alumni-sans;
    font-weight: 400;
    font-size: 26px;
    color: $color-default-white;
    letter-spacing: 0.78px;
    margin-top: -10px;

    @include tablet-width {
      font-size: 23px;
      margin-top: -3px;
    }

    @include mobile-width {
      font-size: 18px;
    }
  }

  &__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include tablet-width {
      height: 390px;
    }

    @include mobile-width {
      display: none;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 106px;
    padding-right: 64px;
    padding-left: 96px;

    @include tablet-width {
      padding-top: 51px;
      padding-right: 30px;
      padding-left: 45px;
    }

    @include mobile-width {
      padding-top: 70px;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__city {
    font-family: $alumni-sans;
    font-size: 42px;
    font-weight: 600;
    letter-spacing: 2.44px;
    line-height: 69px;
    text-align: right;
    text-transform: uppercase;
    margin: 0 49px 9px 0;

    @include tablet-width {
      font-size: 34px;
      line-height: normal;
      letter-spacing: 1.02px;
      margin: 0 0 5px 0;
    }

    @include mobile-width {
      font-size: 28px;
      line-height: normal;
      letter-spacing: 0.84px;
      margin: 0 0 13px;
    }
  }


  &__title {
    font-family: $alumni-sans;
    font-weight: 600;
    font-size: 92px;
    text-align: right;
    letter-spacing: 0.05em;
    line-height: 110px;
    max-width: 300px;
    margin: 0 0 46px;
    text-transform: uppercase;
    /* stylelint-disable */
    -webkit-text-stroke: 2px $color-default-white;
     /* stylelint-enable */

    @include tablet-width {
      font-size: 72px;
      line-height: normal;
      letter-spacing: 3.6px;
      margin-bottom: 35px;
      text-transform: none;
    }

    @include mobile-width {
      font-size: 72px;
      line-height: normal;
      letter-spacing: 3.6px;
      margin-bottom: 22px;
    }
  }

  &__description {
    position: absolute;
    bottom: 188px;
    left: 20px;

    @include tablet-width {
      bottom: 146px;
      left: 0;
    }

    @include mobile-width {
      bottom: 119px;
    }
  }

  &__description p {
    font-family: $roboto-condensed;
    font-weight: 400;
    text-align: right;
    margin: 0;
    font-size: 14px;
    line-height: 150%;
  }

  &__toggle {
    background: transparent;
    padding: 15px 51px;
    text-transform: uppercase;
    font-family: $roboto-condensed;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    color: $color-default-white;
    border: 4px solid $color-default-white;
    text-align: center;

    @include tablet-width {
      padding: 15px 10px;
      min-width: 184px;
    }

    @include mobile-width {
      min-width: 100%;
      padding: 14px 10px;
    }

    &:hover,
    &:focus {
      background-color: $color-default-white;
      color: #103aae;
    }

    &:active {
      background-color: $color-default-white;
      color: #102654;
    }

    &:disabled {
      background: transparent;
      border: 4px solid $color-default-white;
      color: $color-default-white;
      opacity: 0.5;
    }
  }
}
