.main-nav {
  background: conic-gradient(from 130.31deg at 16.03% 39.06%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);
  min-height: 658px;
  color: $color-default-white;
  padding-top: 30px;
  padding-bottom: 47px;

  @include tablet-width {
    min-height: 554px;
  }

  @include mobile-width {
    min-height: 491px;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @include tablet-width {
      padding-bottom: 25px;
    }

    @include mobile-width {
     padding: 0;
    }
  }

  &__container {
    display: flex;
    position: relative;
    justify-content: center;
  }

  &__phone {
    font-family: $alumni-sans-regular;
    font-size: 26px;
    color: $color-default-white;
  }

  &__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include tablet-width {
      height: 390px;
    }

    @include mobile-width {
      display: none;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 106px;
    padding-right: 64px;
    padding-left: 159px;

    @include tablet-width {
      padding-top: 45px;
      padding-right: 30px;
      padding-left: 45px;
    }

    @include mobile-width {
      padding-top: 80px;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__city {
    font-family: $alumni-sans-semi-bold;
    font-size: 48px;
    letter-spacing: 1.44px;
    line-height: 58px;
    text-align: right;
    margin: 0;

    @include tablet-width {
      font-size: 34px;
      line-height: normal;
      letter-spacing: 1.02px;
    }

    @include mobile-width {
      font-size: 28px;
      line-height: normal;
      letter-spacing: 0.84px;
    }
  }


  &__title {
    font-family: $alumni-sans-semi-bold;
    font-weight: 600;
    font-size: 92px;
    text-align: right;
    letter-spacing: 4.6px;
    line-height: 110px;
    max-width: 300px;
    margin: 0 0 65px;

    @include tablet-width {
      font-size: 72px;
      line-height: normal;
      letter-spacing: 3.6px;
      margin-bottom: 48px;
    }

    @include mobile-width {
      font-size: 72px;
      line-height: normal;
      letter-spacing: 3.6px;
    }
  }

  &__description {
    position: absolute;
    bottom: 193px;
    left: 82px;

    @include tablet-width {
      bottom: 146px;
      left: 0;
    }
  }

  &__description p {
    font-family: $roboto-condensed-regular;
    font-weight: 400;
    text-align: right;
    margin: 0;
    font-size: 14px;
    line-height: 150%;
  }

  &__toggle {
    background: transparent;
    padding: 24px 56px;
    text-transform: uppercase;
    font-family: $roboto-condensed-bold;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    color: $color-default-white;
    border: 4px solid $color-default-white;
    text-align: center;

    @include tablet-width {
      padding: 18px 10px;
      min-width: 184px;
    }

    @include mobile-width {
      min-width: 100%;
      padding: 19px 10px;
    }
  }
}
