.main-nav {
  background: conic-gradient(from 130.31deg at 16.03% 39.06%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);
  min-height: 658px;
  color: $color-default-white;
  padding-top: 30px;
  padding-bottom: 47px;

  @include tablet-width {
    min-height: 554px;
  }

  @include mobile-width {
    min-height: 491px;
  }
}

.main-nav__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.main-nav__container {
  display: flex;
  position: relative;
}

.main-nav__phone {
  font-family: $alumni-sans-regular;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  color: $color-default-white;
}

.main-nav__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include tablet-width {
      height: 390px;
    }
}

.main-nav__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 106px;
  padding-right: 64px;
  padding-left: 94px;

  // @include tablet-width {
  //   padding-top: 45px;
  //   padding-right: 30px;
  //   padding-left: 45px;
  // }
}

.main-nav__description {
  position: absolute;
  bottom: 193px;
  left: 14px;
}

.main-nav__description p {
  font-family: $roboto-condensed-regular;
  font-weight: 400;
  text-align: right;
  margin: 0;
  font-size: 14px;
  line-height: 150%;
}

.main-nav__city {
  font-family: $alumni-sans-regular;
  font-weight: 400;
  font-size: 48px;
  letter-spacing: 1.44px;
  margin: 0;
  text-align: right;
}

.main-nav__title {
  font-family: $alumni-sans-semi-bold;
  font-weight: 600;
  font-size: 75px;
  text-align: right;
  letter-spacing: 4.6px;
  line-height: normal;
  max-width: 300px;
  margin: 0 0 65px;
}

.main-nav__toggle {
  background: transparent;
  padding: 24px 56px;
  text-transform: uppercase;
  font-family: $roboto-condensed-bold;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  color: $color-default-white;
  border: 4px solid $color-default-white;
}
