.reviews {
  padding: 145px 0 121px;

  @include tablet-width {
    padding: 105px 0 99px;
  }

  @include mobile-width {
    padding: 70px 0 70px;
  }

  &__title {
    color: #102654;
    text-align: center;
    margin: 0 0 55px;

    @include tablet-width {
      margin: 0 0 53px;
    }

    @include mobile-width {
      margin: 0 0 50px;
    }
  }

  &__wrapper {
    width: 560px;
    margin: 0 auto;

    @include mobile-width {
      width: 100%;
      padding-left: 32px;
      padding-right: 32px;
    }
  }

  &__item {
    position: relative;
    padding: 62px 62px 54px 62px;
    background-color: #1c3374;
    display: grid;
    color: $color-default-white;
    grid-template-columns: 108px 1fr;

    @include mobile-width {
      align-items: center;
      justify-items: center;
      padding: 30px 30px 34px;
      grid-template-columns: minmax(70px, 1fr) 1fr;
    }
  }

  &__name {
    font-family: $roboto-condensed;
    font-weight: 700;
    font-size: 20px;
    margin-top: -4px;

    @include mobile-width {
      margin-top: 10px;
      padding-left: 10px;
    }
  }

  &__description {
    font-family: $roboto-condensed;
    font-weight: 400;
    font-size: 16px;
    line-height: 143%;
    grid-column: 2/3;
    margin: -45px 0 0;

    @include mobile-width {
      text-align: center;
      margin-top: 15px;
      grid-column: 1/3;
      padding-left: 0;
      font-size: 15px;
      line-height: 149%;
      letter-spacing: 0.26px;
    }
  }

  &__arrows {
    position: relative;
    margin: 0 auto;

    @include desktop-width-only {
      width: 561px;
      top: 25px;
    }

    @include tablet-width {
      width: 564px;
      top: 33px;
    }

    @include mobile-width {
      width: 161px;
      top: -33px;
    }
  }

  &__img img {
    @include mobile-width {
      margin-top: 10px;
      border-radius: 50%;
      width: 68px;
      height: 68px;
    }
  }
}
