.social {
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 120px;
    justify-content: flex-end;

    @include mobile-width {
      justify-content: flex-start;
      margin-left: -4px;
    }
  }

  &__link {
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 35px;
    padding: 5px;
  }

  &__icon {
    width: 100%;
    height: 100%;
    fill: $color-default-black;
    background-color: $color-default-white;
    border-radius: 50%;

    &:hover,
    &:focus {
      background-color: #103aae;
    }

    &:active {
      background-color: #102654;
    }

    &:disabled {
      background-color: $color-default-white;
      opacity: 0.3;
    }
  }
}
