.stock {
  padding: 155px 0 120px;

  @include tablet-width {
    padding: 105px 0 100px;
  }

  @include mobile-width {
    padding: 70px 0 73px;
    text-align: center;
  }

  &__title {
    color: #102654;
    text-align: center;
    margin: 0 0 54px;

    @include tablet-width {
      margin: 0 0 53px;
    }

    @include mobile-width {
      margin: 0 0 51px;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;

    @include tablet-width {
      gap: 28px;
    }

    @include mobile-width {
      grid-template-columns: 1fr;
      gap: 30px;
    }
  }

  &__sale {
    min-height: 462px;
    display: grid;
    grid-template-columns: 280px 1fr;
    background-color: $red-background;
    grid-row: span 2;

    @include tablet-width {
      grid-row: span 1;
      grid-column: 1/-1;
      justify-self: center;
    }

    @include mobile-width {
      grid-template-columns: 1fr;
      width: 100%;
    }
  }

  &__description {
    font-family: $roboto-condensed;
    font-weight: 700;
    color: $color-default-white;
    padding: 35px 45px 39px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    @include mobile-width {
      display: block;
      padding: 35px 45px 41px;
    }

    h3 {
      font-size: 28px;
      line-height: 156%;
      margin: 0 0 19px;

      @include tablet-width {
        margin: 0 0 17px;
      }
    }
  }

  &__price {
    font-family: $roboto-condensed;
    font-weight: 700;
    font-size: 71px;
    margin: 0 0 39px;
    letter-spacing: -1.4px;

    @include mobile-width {
      margin: 0 0 36px;
    }
  }

  &__desk {
    font-family: $roboto-condensed;
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;

    @include mobile-width {
      padding-bottom: 25px;
    }
  }

  &__card {
    padding: 26px 27px 22px;
    border: 7px solid;
    border-image: linear-gradient(#d10a42, #00359f);
    border-image-slice: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;


    h3 {
      font-family: $roboto-condensed;
      font-weight: 700;
      font-size: 26px;
      color: #1c3374;
      margin: 0 0 10px;
    }

    p {
      font-family: $roboto-condensed;
      font-weight: 400;
      font-size: 16px;
      color: #1c3374;
      margin: 0 0 63px;

      @include tablet-width {
        margin: 0;
      }

      @include mobile-width {
        margin: 0 0 21px;
      }
    }

    @include tablet-width {
      padding: 25px 35px 25px 30px;
      min-height: 211px;
    }

    @include mobile-width {
      display: block;
      padding: 36px 35px 20px 35px;
    }
  }

  &__card-link {
    font-family: $roboto-condensed;
    font-weight: 700;
    color: #1c3374;
    font-size: 12px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    border-bottom: 1px solid #1c3374;
    padding-bottom: 3px;

    @include tablet-width {
      font-size: 10px;
      padding-bottom: 0;
    }

    &:hover {
      color: #1c3374;
      opacity: 0.8;
    }

    &:focus {
      color: #1c3374;
      outline: 2px solid #1c3374;
      padding: 5px;
    }

    &:disabled {
      color: #1c3374;
      opacity: 0.3;
    }
  }

  &__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__link {
    font-family: $roboto-condensed;
    font-weight: 700;
    color: $color-default-white;
    font-size: 14px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    border-bottom: 1px solid $color-default-white;

    &:hover {
      color: $color-default-white;
      opacity: 0.8;
    }

    &:focus {
      color: $color-default-white;
      border: 2px solid $color-default-white;
      padding: 5px;
    }

    &:disabled {
      color: $color-default-white;
      opacity: 0.3;
    }
  }
}
