.stock {
  padding: 155px 0 140px;

  @include tablet-width {
    padding: 105px 0 100px;
  }

  @include mobile-width {
    padding: 70px 0 73px;
    text-align: center;
  }

  &__title {
    font-family: $alumni-sans-semi-bold;
    letter-spacing: 1.62px;
    font-size: 54px;
    color: #102654;
    text-align: center;
    margin: 0 0 53px;

    @include tablet-width {
      font-size: 42px;
      margin: 0 0 55px;
    }

    @include mobile-width {
      font-size: 30px;
      margin: 0 0 52px;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;

    @include tablet-width {
      grid-template-columns: 1fr;
      gap: 0;
    }
  }

  &__sale {
    min-height: 462px;
    display: grid;
    grid-template-columns: 280px 1fr;
    background-color: $red-background;

    @include tablet-width {
      grid-template-columns: 280px 399px;
      justify-self: center;
      margin-bottom: 30px;
    }

    @include mobile-width {
      grid-template-columns: 1fr;
      width: 100%;
      margin-bottom: 31px;
    }
  }

  &__description {
    font-family: $roboto-condensed-bold;
    color: $color-default-white;
    padding: 35px 45px 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    @include mobile-width {
      display: block;
      padding: 35px 45px 41px;
    }

    h3 {
      font-size: 26px;
      line-height: 156%;
      margin: 0 0 19px;
    }
  }

  &__price {
    font-family: $roboto-condensed-bold;
    font-size: 64px;
    margin: 0 0 43px;
    letter-spacing: -1.4px;

    @include mobile-width {
      margin: 0 0 36px;
    }
  }

  &__desk {
    font-family: $roboto-condensed-regular;
    font-size: 16px;
    line-height: 145%;

    @include mobile-width {
      padding-bottom: 30px;
    }
  }

  &__item {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;

    @include tablet-width {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      gap: 28px;
      justify-self: center;
    }

    @include mobile-width {
      grid-template-columns: 1fr;
      gap: 30px;
    }
  }

  &__card {
    padding: 26px 27px 22px;
    border: 7px solid;
    border-image: linear-gradient(#d10a42, #00359f);
    border-image-slice: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;


    h3 {
      font-family: $roboto-condensed-bold;
      font-size: 23px;
      color: #1c3374;
      margin: 0 0 10px;
    }

    p {
      font-family: $roboto-condensed-regular;
      font-size: 14px;
      color: #1c3374;
      margin: 0 0 63px;

      @include tablet-width {
        margin: 0;
      }

      @include mobile-width {
        margin: 0 0 21px;
      }
    }

    @include tablet-width {
      padding: 25px 35px 25px 30px;
      min-height: 211px;
    }

    @include mobile-width {
      display: block;
      padding: 36px 35px 20px 35px;
    }
  }

  &__card-link {
    font-family: $roboto-condensed-bold;
    color: #1c3374;
    font-size: 11px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    border-bottom: 1px solid #1c3374;
    padding-bottom: 3px;

    @include tablet-width {
      font-size: 10px;
      padding-bottom: 0;
    }

    &:hover {
      color: #1c3374;
      opacity: 0.8;
    }

    &:focus {
      color: #1c3374;
      border: 2px solid #1c3374;
      padding: 5px;
    }

    &:disabled {
      color: #1c3374;
      opacity: 0.3;
    }
  }

  &__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__link {
    font-family: $roboto-condensed-bold;
    color: $color-default-white;
    font-size: 12px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    border-bottom: 1px solid $color-default-white;

    &:hover {
      color: $color-default-white;
      opacity: 0.8;
    }

    &:focus {
      color: $color-default-white;
      border: 2px solid $color-default-white;
      padding: 5px;
    }

    &:disabled {
      color: $color-default-white;
      opacity: 0.3;
    }
  }
}
