.subscription {
  position: relative;
  background-color: $additional-background;
  padding: 120px 0;
  text-align: center;

  @include tablet-width {
    padding: 100px 0 100px 0;
  }

  @include mobile-width {
    padding: 63px 0 71px 0;
  }

  &__title {
    margin: 0;
    text-align: center;
    padding-bottom: 37px;
    padding-top: 22px;

    @include tablet-width {
      padding-bottom: 33px;
      padding-top: 15px;
    }

    @include mobile-width {
      padding-top: 10px;
      padding-bottom: 27px;
    }
  }

  &__controls {
    text-align: center;
    margin-bottom: 39px;
    border-bottom: 2px solid $color-stroke;
    display: inline-block;

    @include tablet-width {
      margin-bottom: 44px;
    }

    @include mobile-width {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 31px;
    }
  }

  &__control {
    border: none;
    font-family: $roboto-condensed;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: $color-sapphire-opacity;
    background-color: transparent;
    cursor: pointer;
    margin-right: 43px;
    padding: 0 0 10px;
    position: relative;

    &:last-child {
      margin-right: 0;
    }

    @include tablet-width {
      font-size: 18px;
      margin-right: 51px;
    }

    @include mobile-width {
      font-size: 16px;
      margin-right: 0;
      padding: 0 0 15px;
    }
  }


  &__control.is-active::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #d10a42;

    @include mobile-width {
      width: 115%;
    }
  }

  &__control.is-active {
    color: #102654;
  }

  &__list {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, minmax(310px, 360px));
    gap: 40px;

    @include tablet-width {
      grid-template-columns: 100%;
      gap: 40px;
      justify-items: center;
      padding: 0 118px;
    }

    @include mobile-width {
      padding: 0;
      gap: 35px;
    }
  }

  &__item {
    box-sizing: border-box;
    background-color: $color-default-white;
    font-family: $roboto-condensed;
    font-weight: 400;
    border: 6px solid $color-default-white;
    color: #102654;
    min-height: 448px;
    padding: 56px 20px 20px;
    text-align: center;
    z-index: 100;

    @include tablet-width {
      padding: 57px 20px 20px;
      min-width: 442px;
      width: 100%;
    }

    @include mobile-width {
      padding: 45px 20px 49px;
      min-height: 64px;
      width: 100%;
      min-width: 290px;
    }

    &:hover {
      border: 6px solid transparent;
      border-image: linear-gradient(#d10a42, #00359f);
      border-image-slice: 1;
    }
  }

  &__desk {
    margin: 0;
    font-family: $roboto-condensed;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    padding-bottom: 11px;

    @include mobile-width {
      font-size: 22px;
      padding-bottom: 10px;
    }
  }

  &__action {
    margin: 0 0 64px;
    font-size: 16px;

    @include mobile-width {
      margin: 0 0 53px;
    }
  }

  &__price {
    position: relative;
    margin: 0;
    font-family: $roboto-condensed;
    font-weight: 700;
    color: #103aae;
    font-size: 60px;
    padding-bottom: 34px;
    display: inline-block;
    line-height: 151%;
    vertical-align: middle;

    @include mobile-width {
      display: inline-block;
      font-size: 48px;
      padding-bottom: 30px;
    }

    & span:first-child {
      color: $color-default-black;
      font-weight: 500;
    }
  }


  &__description {
    color: $color-default-black;
    position: absolute;
    opacity: 0.1;
    font-size: 99px;
    width: 203px;
    height: 69px;
    top: -26px;
    left: -11%;

    @include mobile-width {
      width: 167px;
      height: 44px;
      font-size: 80px;
      top: -24px;
      left: -12%;
    }
  }

  &__button {
    border: 2px solid #102654;
    padding: 19px 44px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    vertical-align: middle;

    @include tablet-width {
      display: block;
      width: 53%;
      max-width: 100%;
      margin: 0 auto;
      padding: 18px 10px;
    }

    @include mobile-width {
      width: 87%;
    }

    &:focus,
    &:hover {
      background: linear-gradient(151deg, #ed0233 0, #003eb7 100%);
      color: $color-default-white;
      border: none;
    }

    &:active {
      background: linear-gradient(151deg, #ed0233 0, #003eb7 100%);
      color: $color-default-white;
      opacity: 0.7;
      border: none;
    }

    &:disabled {
      background: $color-default-white;
      color: #102654;
      opacity: 0.3;
      border: 2px solid #102654;
    }
  }

  &__img {
    position: absolute;
    bottom: -149px;
    right: 0;

    @include mobile-width {
      display: none;
    }

    @include tablet-width {
      bottom: -125px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
