.trainer {
  padding-bottom: 105px;
  position: relative;

  @include tablet-width {
    padding: 0 0 100px 0;
  }

  @include mobile-width {
    padding: 0 0 70px 0;
  }

  &__container {
    position: relative;
    padding: 0px 60px;
    margin: 0 auto;
    max-width: 1310px;

    @include tablet-width {
      position: relative;
      padding: 0px 60px;
      margin: 0 auto;
    }

    @include mobile-width {
      position: relative;
      padding: 0;
      margin: 0 auto;
    }
  }

  &__slider {
    max-width: 1160px;

    @include tablet-width {}

    @include mobile-width {
      margin: 0 32px;
    }
  }

  &__title {
    color: #102654;
    margin: 0 65px;
    padding-bottom: 68px;

    @include tablet-width {
      text-align: center;
      padding-bottom: 43px;
    }

    @include mobile-width {
      text-align: center;
      padding-bottom: 48px;
      margin: 0 auto;
    }
  }

  &__inner {
    position: relative;
    display: flex;
  }

  &__description {
    position: relative;
    cursor: pointer;

    @include tablet-width {
      height: 100%;
    }

    @include mobile-width {
      min-width: 226px;
      min-height: 274px;
      aspect-ratio: 226/274;
    }

    img {
      @include tablet-width {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
  }

  &__profile {
    position: absolute;
    bottom: 21px;
    left: 50%;
    font-family: $roboto-condensed;
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
    color: $color-default-white;
    transform: translateX(-50%);
  }

  &__description:hover .trainer__profile {
    visibility: hidden;
  }

  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    color: $color-default-white;
    background-color: rgba(16, 38, 84, 0.89);
    width: 100%;
    height: 100%;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    padding: 50px 20px 10px;
    text-align: center;

    @include mobile-width {
      padding: 42px 20px 10px;
    }
  }

  &__name {
    font-family: $roboto-condensed;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
  }

  &__prof {
    font-family: $roboto-condensed;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #b6bdcc;
    margin: 0 0 30px;
  }

  &__list {
    font-family: $roboto-condensed;
    font-weight: 400;
    margin: 0;
    padding: 0 0 0 51px;
    text-align: left;
    font-size: 14px;
    line-height: 150%;

    @include mobile-width {
      padding: 0 0 0 28px;
      font-size: 13px;
      line-height: 163%;
    }
  }

  &__item {
    font-size: 14px;
    margin-bottom: 13px;
    list-style-type: disc;
  }

  &__description:hover .trainer__wrapper,
  &__description:focus .trainer__wrapper {
    opacity: 1;
    visibility: visible;
  }

  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: none;
    background-color: $color-transparent;
    border-radius: 50%;
    color: $color-sapphire;
    transform: translateY(50%);
    width: 56px;
    height: 56px;
    bottom: 50%;

    @include tablet-width {
      width: 56px;
      height: 56px;
      bottom: 50%;
    }

    @include mobile-width {
      width: 32px;
      height: 32px;
      bottom: 50%;
      margin: 0 3px;
    }

    &:hover {
      border: 1px solid $color-sapphire;
    }

    &:active {
      background-color: $color-sapphire;
      color: $color-default-white;
    }

    &:focus-visible {
      border: 1px solid $color-sapphire;
      outline: none;
    }

    &:disabled {
      background-color: transparent;
      opacity: 0.2;
    }

    & svg {
      transform: translateX(-7%);

      @include mobile-width {
        width: 10px;
        height: 19px;
      }
    }

    &--prev {
      left: -14px;

      @include tablet-width {
        left: -20px;
      }

      @include mobile-width {
        left: -14px;
      }
    }

    &--next {
      transform: rotate(180deg) translateY(-50%);
      right: -14px;

      @include tablet-width {
        right: -20px;
      }

      @include mobile-width {
        right: -14px;
      }
    }
  }
}

.trainer .container {
  padding: 0 40px;

  @include tablet-width {
    padding: 0 45px;
  }

  @include mobile-width {
    padding: 0 15px;
  }
}
